@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Major+Mono+Display&family=Nova+Mono&display=swap');

:root {
    --dark-blue: #324ca0;
    --light-blue: #00a2ff;
    --teal: #00a9af;
    --yellow: #F2FA5A;
    --default-text-color: white;
    --monospace: 'Major Mono Display', monospace;
    --heading: 'Nova Mono', monospace;
    --body: 'Inconsolata', monospace;

}
body {
    padding: 0;
    margin: 0;
    background-color: var(--light-blue);
    background-image: linear-gradient(transparent 2%, var(--dark-blue));
    background-repeat: no-repeat;
    min-height: 100vh;
}


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    color: white;
    font-family: var(--body);
    overflow-y: scroll;
    background-image: linear-gradient(transparent 2%, var(--dark-blue));
    z-index: 3;
}
.about {
    font-size: 4vh
}

.about.divider {
    border-width: 1px;
    border-style: dashed;
}

.about.bold-head {
    font-family: var(--heading);
}
.about.bold-head.bold {
    color: var(--yellow);
}

p.about {
    font-size: 2em;

}



.menu {
    font-size: 3em !important;
    width: 100%;
    text-align: center;
}

.menu:hover {
    background-color: var(--dark-blue);
}



.tile {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4),
        0px 7px 13px -3px rgba(0, 0, 0, 0.3),
        0px -3px 0px 0px rgba(0, 0, 0, 0.2) inset;
    padding: 1em;
    width: 80vw;
}


#table-of-contents {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out; */


}

#table-of-contents:hover {
    transition: all 1s ease-in-out 3s;
}


.nav {
    width: 100%;
    overflow: hidden;
    background-color: var(--dark-blue);
}

.nav:hover {
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.row {
    color: white;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    font-size: 2em;
    font-family: var(--heading);
    border-bottom: 1px solid var(--light-blue);
    text-decoration: none;
}


.row:hover {
    text-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff;
}


.header {
    color: #fff;
    box-shadow: 0px 9px 30px white, inset 0px 9px 30px white;
    padding: 1em;
    width: 80vw;
    border-radius: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: var(--monospace);
    text-shadow:
        0 0 1rem #fff,
        0 0 2rem var(--dark-blue),
        0 0 3rem var(--dark-blue),
        0 0 4rem var(--teal),
        0 0 5rem var(--teal);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
}


.footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    align-items: center;
    padding-left: 1em;
    padding-right: 3em;
    overflow-x: scroll;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    border-radius: 100%;
    height: 60%;
}


.logo-text {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: forwards;
}

.brief-intro {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        height: 3em;
    }

    to {
        height: fit-content;
    }
}

.scroll-gear {
    --scroll: pageYOffset / offsetHeight - innerHeight;
    position: initial;
    bottom: -20em;
    width: 20vw;
}

.card-end {
    flex-grow: 1;
    background-color: transparent;
    opacity: 0.8;
    background-image: radial-gradient(var(--yellow) 1.1px, transparent 1.1px);
    background-size: 22px 22px;
    width: 100%;
    
}

.rotate-scroll {

    position: fixed;
    /* make sure it stays put so we can see it! */
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------------------------*/
