#list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-card{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 1em;
    border-radius: 1em;
    overflow: hidden;
}
.post-card > a {
    padding: 1em;
    text-decoration: none;
    color:black;
}
.post-card > a:hover {
    color:rgb(0, 142, 142);
}
.post-card > img {
    height: 100px
}